<div class="wrapper">
<div class="main">
<form [formGroup]="theaterform" (change)="ontheater()">
    <div class="thea">
        <label class="label1" for="title">Theater:</label>
        <select class="select1" id="title"  formControlName="theater">
            <option value="" disabled>Choose Theater</option>
            <option *ngFor="let item of theaters_list">{{item}}</option>
            </select><br>
            
        </div>
    </form>
    <form [formGroup]="showsform" (change)="onshows()">
        <div class="show">
            <label class="label2" for="shows">Shows:</label>
            <select class="select2" id="shows"  formControlName="showtiming" >
                <option value="" disabled>Choose show</option>
                <option *ngFor="let item of shows_list">{{item}}</option>
                </select><br>
        </div>
    </form>
    <td>
      <button  type="submit" class="button1" (click)="onselect()">BookSeats</button>
    </td>
</div>
</div>
 

