
  <nav>
  <div class ="logo">
  
    <a class="logoname">MovieAdda</a>
  </div>
  <ul class="nav-links">
    <li mat-button *ngIf="apiservice.loggedin && apiservice.admin"><a routerLink="adminhome">Home</a></li>
    <!-- <a mat-button *ngIf="apiservice.loggedin && apiservice.admin" routerLink="users">Users</a> -->
    <li mat-button *ngIf="apiservice.loggedin && apiservice.admin"><a routerLink="addlocation">Location</a></li>
    <li mat-button *ngIf="apiservice.loggedin && apiservice.admin" ><a routerLink="addmovie">Movie</a></li>
    <li mat-button *ngIf="apiservice.loggedin && apiservice.admin" ><a routerLink="addtheater">Theater</a></li>
    <li mat-button *ngIf="apiservice.loggedin && apiservice.admin" ><a routerLink="addshowtime">Showtime</a></li>
    <li mat-button *ngIf="apiservice.loggedin && apiservice.admin"><a routerLink="allbookings">Bookings</a></li>
    <!-- <a mat-button *ngIf="apiservice.loggedin && apiservice.admin" routerLink="adminlocation">Book Tickets</a>
    <a mat-button *ngIf="apiservice.loggedin && apiservice.admin" routerLink="adminmybookings">My Bookings</a> -->
    
    <li mat-button *ngIf="apiservice.loggedin && !apiservice.admin" ><a routerLink="home">Home</a></li>
    <li mat-button *ngIf="apiservice.loggedin && !apiservice.admin"><a routerLink="location">Book Tickets</a></li>
    <li mat-button *ngIf="apiservice.loggedin && !apiservice.admin"><a routerLink="bookings">My Bookings</a></li>
    <li mat-button *ngIf="!apiservice.loggedin" ><a routerLink="login">Login</a></li>
    <li mat-button *ngIf="!apiservice.loggedin" ><a class="signup" routerLink="signup">Signup</a></li>
    <li mat-button *ngIf="apiservice.loggedin"><a class="Logout"(click)="apiservice.userlogout()">Logout</a></li>
  </ul>


  </nav>

<router-outlet></router-outlet>